<div id="app">
    <h3>Add New Item</h3>
    <div class="container mt-3"></div>
    <div class="border rounded p-4 shadow-lg" style="border-color: #007bff; border-width: 4px;">
        <form class="form-control">
            <input v-model="newItem.name" type="text" placeholder="Name" class="form-control form-control-lg w-100" required />
            <input v-model="newItem.description" type="text" placeholder="Description" class="form-control form-control-lg w-100" required />
            <input v-model="newItem.price" type="number" placeholder="Price" class="form-control form-control-lg w-100" required />
            <button type="button" v-on:click="addItemReal()" class="btn btn-primary">Add Item</button>
            <button type="button" v-on:click="returnPage()" class="btn btn-secondary">Return to Index</button>
        </form>
    </div>
</div>

<script>
    new Vue({
      el: '#app',
      data() {
        return {
          newItem: {
            name: '',
            description: '',
            price: 0
          }
        }
      },
      methods: {
        addItemReal() {
          const newItem = {
            name: this.newItem.name,
            description: this.newItem.description,
            price: this.newItem.price
          };

          // Post the new item data to your API or endpoint
          axios.post('/Item/AddItem', newItem)
            .then(response => {
              console.log('Item added successfully', response);
              swal("added Successfully", "added Successfully", "success")
              this.returnPage();
            })
            .catch(error => {
              console.error('Error adding item:', error);
            });
        },
        returnPage() {
          window.location.href = '/Item';
        }
      }
    });
</script>
