<div>
    <h2>Edit Item Of Id @Model</h2>

    <div id="app1" class="table">
        <label for="name">Name</label>
        <input v-model="item.name" type="text"  required />
    
        <label for="description">Description</label>
        <input v-model="item.description" type="text" required />
    
        <label for="price">Price</label>
        <input v-model="item.price" type="number" required />

        <button type="button" v-on:click="updateItem(item.id)">Update Item</button>
    </div>

    <script>
        new Vue({
            el: '#app1',
            data: {
                item: {
                    id:0,
                    name: '',
                    description: '',
                    price: 0,
                },
            },
            beforeMount() {
                this.load();
            },
            methods: {
            
                updateItem(id) {
           

            axios.post(`/Item/Update`, this.item, {
                
            })
            .then(response => {
            console.log(response),
            swal("Edited Successfully", "Edited Successfully", "success")
        
            })
            .catch(error => {
                console.error('Error updating item:', error.data);
            });
        }
        ,
                load() {
                    axios.get(`/Item/GetItemById/${@Model}`)
                        .then(response => {
                            this.item = response.data;
                        })
                        .catch(error => {
                            console.error('Error fetching item:', error);
                        });
                }
            }
        });
    </script>
</div>
